body {
    background-color: rgba(255, 255, 255, 0.431);
}

a{
    width: 50%;
    background-color: gray;
    border-radius: 1vw;
    padding: 5%;
}

button{
    color: white;
    background-color: gray;
    opacity: 1;
    border-bottom: 0.5vw solid rgb(112, 187, 112);
}

button:hover{
    background-color: darkgreen;
}

ol {
    text-align: left;
    height: 30%;
    width: 80%;
    margin-bottom: 3%;
    padding-top: 2%;
    border-radius: 1vw;
}

li {
    font-weight: bolder;
    margin-top: 1%;
}

.container-button{
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.img{
    opacity: 0;
    background-size: 120%;
    transition: all 0.2s ease-in-out;
}

@media all and (min-width:1023px) {

    button{
        height: 50%;
        width: 50%;
        border-radius: 1vw;
        font-size: 2vw;
    }

    .body-page {
        grid-template-columns: 7.5% 25% 2.5% 2.5% 25% 2.5% 2.5% 25% 7.5%;
        grid-template-rows: 5% 10% 5% 35% 5% 35% 5%;
        grid-template-areas: ". . . . . . . . ." ". button1 . title title title . button2 ." ". . . . . . . . ." ". box1 . . box2 . . box3 ." ". . . . . . . . ." ". box4 . . box5 . . box6 ." ". . . . . . . . .";
    }

    ol {
        display: none;
    }

    .img:hover>.box-descrizione>ol {
        display: block;
        animation: display 0.5s;
    }


    .img:hover>.box-descrizione>h2 {
        display: none;
    }
    

    .img:hover{
        box-shadow: 0vw 0.5vw 2vw 0.5vw gray;
        transform: matrix3d(
        1, -0.007, 0, 0,
        0, 1, 1, -0.0002,
        0, 0, 1, 0,
        2, -15, 0, 0.85       );
        background-size: 100%;
    }

}

@media all and (max-width:1022px) {

    button{
        height: 80%;
        width: 70%;
        border-radius: 3vw;
        font-size: 4vw;
    }

    .body-page{
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 10% 70% 70% 70% 70% 70% 70%;
        grid-template-areas: "button1 title button2" ". box1 ." ". box2 ." ". box3 . " ". box4 ." ". box5 ." ". box6 .";
    }
    
    ol {
        display: block;
    }

    .InWiew{
        transform: scale(1.2);
        background-size: 115%;
    }

}



@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}