body {
    background-size: 35%;
    background-image: url(../img/index/background-image.jpg);
}

iframe {
    height: 100%;
    width: 100%;
    grid-area: article;
}

a{
    background-color: gray;
    transition: transform 0.1s ease-in-out;
}

.nav-bar {
    grid-area: header;
    background-color: rgba(244, 255, 235, 0.464);
}

.nav-content {
    display: flex;
    align-items: center;
    background-color: rgb(112, 187, 112);
    border-bottom: 0.5vw solid rgb(112, 187, 112);
}

.article-selection {
    grid-area: article;
}

.active-link{
    transform: translateY(0.5vw);
}

@media all and (min-width:1023px) {
    iframe {
        width: calc(100% - 0.5vw);
        border-left: solid rgb(112, 187, 112) 0.5vw;
    }
    a{
        width: 22%;
        padding: 5%;
        background-color: gray;
    }

    .title {
        width: 80%;
    }

    .main-title {
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(244, 255, 235, 0.464);
        border-bottom: 0.5vw solid rgb(112, 187, 112);
        grid-area: title;
    }
    
    .main-container {
        background-color: rgba(255, 255, 255, 0.200);
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: "title article" ". article" "header article";

    }

    .nav-content{
        justify-content: space-between;
    }
    
}

@media all and (max-width:1022px){
    
    body{
        background-position: center;
        background-size: 100%;
    }
    
    a{
        padding: 1%;
        width: 30%;
    }

    .title {
        width: 100%;
        height: 100%;
        border-radius: 0%;
        border-bottom: 0.5vw solid rgb(112, 187, 112);
    }
    
    .nav-content{
        justify-content: space-around;
        border-bottom: 1vw solid rgb(112, 187, 112);
    }
    

    .main-title {
        background-color: rgba(244, 255, 235, 0.464);
        grid-area: title;
    }
    
    .main-container {
        background-color: rgba(255, 255, 255, 0.200);
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 10% 5% 85%;
        grid-template-areas: "title" "header" "article";

    }
}