#box1{
    background-image: url(../img/datapacks/brand/powerarmor_datapack.jpg);
}

#box2{
    background-image: url(../img/datapacks/brand/deamon_forest_datapack.jpg);
}

#box3{
    background-image: url(../img/datapacks/brand/set_home.jpg);
}

#box4{
    background-image: url(../img/datapacks/brand/tpa.jpg);
}
#box5{
    background-image: url(../img/datapacks/brand/factions.jpg);
}
#box6{
    background-image: url(../img/datapacks/brand/defence_npc.jpeg);
}

