body{
    background-color: rgba(255, 255, 255, 0.431);
}

#box1{
    background-image: url(../img/home/brand/brandInstall.jpg);
}

#box2{
    background-image: url(../img/home/brand/brandconfig.jpg);
}
 
#box3{
    background-image: url(../img/home/brand/brandyoutube.jpg);
}

#box4{
    background-image: url(../img/home/datapacks/powerarmor.jpg);
}

#box5{
    background-image: url(../img/home/datapacks/deamon_forest.jpg);
}

#box6{
    background-image: url(../img/home/datapacks/set_home.jpg);
}

ol{
    width: 80%;
    height: 80%;
    padding-left: 10%;
    padding-right: 5%;
}

li{
    font-weight: bolder;
    margin-top: 2%;
}

p{
    background-color: rgba(128, 128, 128, 0.800);
    margin: 0%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    height: 30%;
    text-align: justify;
    color: white;
    overflow: scroll;
    font-size: 120%;
}

.box-descrizione {
    height: 97%;
}

.news{   
    animation: led 2.2s infinite linear;
    background-size: 100%;
    transition: background-size 0.15s ease-in-out , transform 0.15s ease-in-out;
}

@media all and (min-width:1023px) {

    a{
        padding: 2%;
    }

    .body-page {
        grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
        grid-template-rows: 5% 10% 5% 40% 5% 30% 5%;
        grid-template-areas: ". . . . . . . " ". . . title . . ." ". . . . . . ." ". box1 . box2 . box3 ." " . . . . . . ." ". box4 . box5 . box6 ." " . . . . . . .";
    }
    
    .news:hover{
        background-size: 115%;
        transform: scale(1.1);
    }
}

@media all and (max-width:1022px){

    a{
        padding: 1%;
    }

    .body-page{
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 10% 70% 70% 70% 70% 70% 70%;
        grid-template-areas: ". title ." ". box1 ." ". box2 ." ". box3 . " ". box4 ." ". box5 ." ". box6 ."; 
    }
    
}

 @keyframes led{
    0%  {box-shadow: 0.1vw 0.1vw 1vw rgb(10, 100, 200)}
    25% {box-shadow: 0.1vw 0.1vw 1vw rgb(10, 140, 200)}
    50% {box-shadow: 0.1vw 0.1vw 1vw rgb(10, 180, 200)}
    75% {box-shadow: 0.1vw 0.1vw 1vw rgb(10, 220, 200)}
    100% {box-shadow: 0.1vw 0.1vw 1vw rgb(10, 100, 200)}
 }