body {
    margin: 0%;
}

h2{
    text-shadow: 0.2vw 0.2vw 0.2vw rgb(41, 41, 41);
    text-transform: uppercase;
    color: white;
    border-bottom: solid rgb(112, 187, 112) 0.3vw;
}

h1{
    color: white;
}

ol{
    color: white;
    overflow: scroll;
    margin: 0%;
    background-color: rgba(128, 128, 128, 0.800);
}

li{
    font-size: 120%;
}

a{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

@media all and (min-width:1023px) {
    h1 {
        font-size: 2vw;
        border-bottom: solid 0.5vw white;
    }

    h2 {
        margin: 0%;
        margin-bottom: 2%;
        font-size: 1.5vw;
    }

    ol,p {

        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    a:hover {
        background-color: darkgreen;
    }

    a{
        font-size: 1vw;
    }

    .body-page {
        height: 100vh;
    }

    .img{
        border-radius: 1vw;
    }
}

@media all and (max-width:1022px) {


    h1 {
        margin: 0%;
        font-size: 5vw;
    }

    h2 {
        margin: 0%;
        margin-bottom: 2%;
        font-size: 4vw;
    }

    ol,p {
        border-bottom-left-radius: 3vw;
        border-bottom-right-radius: 3vw;
    }

    a{
        font-size: 3vw;
    }

    .body-page {
        height: 90vh;
        row-gap: 10%;
        overflow: scroll;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    a:active {
        background-color: darkgreen;
    }

    .img{
        border-radius: 3vw;
    }
}

.body-page{
    width: 100%;
    display: grid;
    opacity: 0;
}

.img {
    height: 100%;
    width: 100%;
    background: center / cover no-repeat;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    grid-area: title;
    background-color: gray;
    border-bottom: 0.7vw solid rgb(112, 187, 112);
}

@media all and (min-width:1700px) and (max-height:1500px){
    .img {
        background-position: 50% 30%;
    }
}

.box-descrizione {
    display: flex;
    height: 97%;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#box1 {
    grid-area: box1;
}

#box2 {
    grid-area: box2;
}

#box3 {
    grid-area: box3;
}

#box4 {
    grid-area: box4;
}

#box5 {
    grid-area: box5;
}

#box6 {
    grid-area: box6;
}

#rbutton{
    grid-area: button2;    
}

#lbutton{
    grid-area: button1;
}

#loadbar{
    height: 20vh;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 40%;
    background-image: url(../img/index/loadbar.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
   background: transparent;
}
  
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
  
*{
  scrollbar-width: thin;    
  scrollbar-color: #888 transparent;
}

.smooth-font{
    font-family: 'minecraft-smooth-font';
}

.classic-font{
    font-family: 'minecraft-classic-font';
}

.runes-font{
    font-family: 'minecraft-runes-font';
}

.linear-font{
    font-family: 'minecraft-linear-font';
}

@font-face {
    font-family: 'minecraft-linear-font';
    src: url('../fonts/Minecraft-Linear-Font.ttf') format('truetype');
}

@font-face {
    font-family: 'minecraft-classic-font';
    src: url('../fonts/Minecraft-Classic-Font.ttf') format('truetype');
}

@font-face {
    font-family: 'minecraft-runes-font';
    src: url('../fonts/Minecraft-Runes-Font.ttf') format('truetype');
}

@font-face {
    font-family: 'minecraft-smooth-font';
    src: url('../fonts/Minecraft-Smooth-Font.ttf') format('truetype');
}