body {
    background-color: rgba(255, 255, 255, 0.431);
}

#box1 {
    background-image: url(../img/datapacks/brand/powerarmor_datapack.jpg);
}

#box2 {
    background-image: url(../img/datapacks/brand/deamon_forest_datapack.jpg);
}

#box3 {
    background-image: url(../img/datapacks/brand/set_home.jpg);
}

#box4 {
    background-image: url(../img/datapacks/brand/tpa.jpg);
}

#box5 {
    background-image: url(../img/datapacks/brand/factions.jpg);
}

#box6 {
    background-image: url(../img/datapacks/brand/defence_npc.jpeg);
}

@media all and (min-width:1023px) {
    ol {
        display: none;
    }

    .box-descrizione:hover>ol {
        display: block;
        animation: display 0.5s;
    }


    .box-descrizione:hover>h2 {
        display: none;
    }
    

    .img:hover{
        animation: zoom 0.5s;
        animation-fill-mode:forwards;
    }

}

@media all and (max-width:1022px) {
    ol {
        display: block;
    }

    .img:active{
        animation: zoom 0.5s;
        animation-fill-mode:forwards;
    }

}

ol {
    text-align: left;
    color: white;

    overflow: scroll;
    margin-left: 3%;
    margin-right: 3%;
    height: 30%;
    width: 80%;
    padding-top: 3%;
    border-radius: 1vw;
    background-color: rgba(128, 128, 128, 0.658);
}

li {
    font-size: 120%;
    font-weight: bolder;
}

@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a{
    width: 50%;
    background-color: gray;
}